body{
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

*,
*::before,
* ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.modal-todo {
  position:  fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  padding: 20px;
}